@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0 auto;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}
/* shared style start */

.btn{
    padding: 12px 16px;
    border-radius: 25px;
    /* color: #FFFFFF; */
    font-size: 16px;
    font-weight: 600;
    background-image: linear-gradient(14deg,rgba(247, 233, 63, 1) 0%, rgba(251, 9, 180, 1) 51%, rgba(145, 0, 248, 1) 100%);
    color: #FFFFFF;
    border: none;
    cursor: pointer;
    transition: transform 0.5s ease;
}
.btn:hover{
    transform: scale(1.05);
}
/* shared style end */

/* individual style start */

/* header start */
.header, #about-section{
    background-color: #1A0B2E;
}
.nav{
    width: 87.5%;
    max-width: 1400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #FFFFFF;
    padding: 24px 0;
}
.nav-wave{
     background:-webkit-linear-gradient(75deg,rgba(247, 233, 63, 1) 0%, rgba(251, 9, 180, 1) 31%, rgba(145, 0, 248, 1) 80%);
     -webkit-background-clip: text ;
     -webkit-text-fill-color: transparent;

}
.nav .nav-text{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:32px;
    font-size: 16px;
    font-weight: 500;
    line-height: 120%;
}
.nav .ham{
    display: none;
}

/* header end */


/* hero start */
 #main{
     background-image: url(assets/hero-bg.png);
     width: 100%;
     height: auto;
     background-size: contain;
     background-position: center;
     background-repeat: repeat;
 }
 .hero-img{
    height: 550px;
 }
 .hero{
    padding: 100px 0;
    display: flex;
    flex-direction: column;
 }
.hero-image{
    margin-bottom: 40px;
    background-image: url(assets/hero-circle.png);
    background-repeat: no-repeat;
    background-position: center;
    padding: 120px;
}
.hero-image img{
    display: flex;
    align-items: center;
    width: 100%;
}
.hero-img .new-btn{
    position: relative;
    left: 250px;
    top: 70px;
    padding: 8px 16px;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 600;
    background-color: #00FF88;
    border: none;
    border-radius: 35px;
    box-shadow: 0px 0px 27px rgba(0, 255, 136, 0.5);
    cursor: pointer;
    transition: transform 3s ease;
}
.hero-img .new-btn:hover{
    transform:scale(1.05)
}

.hero-text{
    text-align: center;
    color: #FFFFFF;
}
.hero-text h1{
    font-size: 60px;
    font-weight: 800;
    margin-bottom:8px;
}

.hero-text p{
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 24px;
}
.hero-button{
    display: flex;
    gap: 8px;
}
.hero-btn1{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 16px;
    border-radius: 25px;
    font-size: 16px;
    font-weight: 600;
    background-image: linear-gradient(14deg,rgba(247, 233, 63, 1) 0%, rgba(251, 9, 180, 1) 51%, rgba(145, 0, 248, 1) 100%);
    color: #FFFFFF;
    border: none;
    gap: 8px;
    cursor: pointer;
    transition: transform 0.5s ease;
}
.hero-btn1:hover{
    transform: scale(1.05);
}

.hero-btn2{
     display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 16px;
    border-radius: 25px;
    font-size: 16px;
    font-weight: 600;
    gap: 8px;
    background-color: transparent;
    border: 1px solid #00FF88;
    color: #00FF88;
    cursor: pointer;
   transition: transform 0.5s ease;
}
.hero-btn2:hover{
    transform: scale(1.05);
}
/* hero end */


/* about start  */
.about{
    width: 87.5%;
    max-width: 1400px;
    text-align: center;
    color: #FFFFFF;
    padding: 50px;
}

.about-text h1{
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 16px;

}
.about-text p{
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 80px;
}

.about-card{
    margin-top: 80px;
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: repeat(4,1fr);
}

.about-card .card h3{
    font-size: 48px;
    font-weight: 900;
    color: #00FF88;
    margin-bottom: 16px;
}
.about-card .card h6{
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 120px;
}
/* about end  */

/* choose section start */
#choose-section{
    background-color: #230E3D;
}
.choose{
    width: 87.5%;
    max-width: 1400px;
    color: #FFFFFF;
    padding: 120px 0;
}
.choose-text h2{
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 40px;
    text-align: center;
}
.choose-card{
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
}
.c-card1 h3, .c-card2 h3, .c-card3 h3, .c-card4 h3, .c-card5 h3{
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 16px;
}
.choose-card .c-card1{
    grid-row: span 2;
    background-color: #351165;
}
.c-card1 img{
    margin-top: 70px;
    margin-bottom: 16px;
}
.c-card1 p{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}
.c-card2 img, .c-card3 img, .c-card4 img, .c-card5 img{
    margin-bottom: 16px;
}
.c-card1, .c-card2, .c-card3, .c-card4, .c-card5{
    width: 100%;
    padding: 40px;
    border-radius: 40px;
   transition: transform 0.5s ease;
}
.c-card1:hover{
    transform: scale(1.05);
}
.c-card2:hover{
    transform: scale(1.05);
}
.c-card3:hover{
    transform: scale(1.05);
}
.c-card4:hover{
    transform: scale(1.05);
}
.c-card5:hover{
    transform: scale(1.05);
}
.choose-card .c-card2{
    grid-column: span 2;
    background-color: #351165;
}
.choose-card .c-card3{
    grid-column: span 2;
    background-color: #351165;
}
.choose-card .c-card4{
    grid-column: span 2;
    background-color: #351165;
}
.choose-card .c-card5{
    background-color: #351165;
}
/* choose section end */

/* episode start */
#episode-section{
    background-color: #1A0B2E;
}
.episode{
    width: 87.5%;
    max-width: 1400px;
    color: #FFFFFF;
    padding: 120px 0;

}

 .episode-text h2, .host h1{
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 16px;
    text-align: center;
    margin-bottom: 40px;
 }
 .episode-text .episode-card{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
 }
 .episode-card .e-card{
    width: 380px;
    background-color: #230E3D;
    border-radius: 25px;
    margin-bottom: 120px;
    transition: transform 0.6s ease;
 }
 .episode-card .e-card:hover{
    transform: scale(1.05);
 }
 .episode-card iframe{
    width: 100%;
    height: 214px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
 }
 .e-text{
    padding: 24px;
 }
 .e-text h3{
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 12px;
 }
 .e-text p{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 12px;
 }
.e-text h6{
    display: flex;
    gap: 8px;
    align-items: center;
}
.e-text h6 img{
    margin: 0;
}

.host-id{
    display: flex;
    gap: 24px;
    padding: 40px;
    background-color: #351165;
    border-radius: 40px;
}
.host-text h2{
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 16px;
}
.host-text h2{
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 16px;
}
.host-text p{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 16px;
}

.host-social{
    display: flex;
    gap: 8px;
    align-items: center;
}
.host-social .host-image{
    margin: 0;
    padding: 10px;
    border: 1px solid #533C72;
    border-radius: 50%;
}


/* episode end */

/* footer start */

#footer{
    background-image: url(assets/footer-bg.png);
    background-size: cover;
    background-position: center;
}

.footer-div{
    width: 87.5%;
    max-width: 1400px;
    color: #FFFFFF;
    padding: 120px 0;
}

.footer-text{
    text-align: center;
}

.footer-text h1{
    text-align: center;
    font-size: 65px;
    font-weight: 900;
    margin-bottom: 32px;
}
.footer-logo {
    display: flex;
    flex-wrap: wrap;
    gap: 80px;
    align-items: center;
    justify-content: center;
    margin-bottom: 32px;
}
.footer-logo .logo{
    display: flex;
    margin: 0;
    gap: 8px;
    margin-bottom: 30px;
}
.footer-logo h5{
    display: flex;
    align-items: center;
    margin: 0;
}
.footer-logo .image h5{
    font-size: 16px;
    font-weight: 500;
}
/* footer end */



/* individual style end */


/* responsive style start */

@media screen and (max-width:576px) {
   
   /* navbar start */
    .nav-logo{
        margin:0;
    }
    .nav .nav-text{
        display: none;
    }

    .btn{
        display: none;
    }
    .nav .ham{
    display: inline;
    margin: 0;
    }

    /* navbar end */

    /* hero start */

    #main{
     background-size: cover;
     background-position: center;
     background-repeat: no-repeat;
    }

    .hero-img{
    height: 300px;
    }
    
    .hero-image{
        background-size: 200px;
        background-position: center;
        padding: 80px;
        margin-bottom: 10px;
    }
    .hero-image img{
        width: 47px;
        height: 70px;
        padding: 0;
    }
    .hero-text h1{
    font-size: 40px;
    }
    .hero{
        padding: 40px 20px;
    }
    .img1{
        width: 200px;
    }
    .hero-img .new-btn{
    position: relative;
    left: 120px;
    top: 40px;
    padding: 8px 16px;
    text-transform: uppercase;
    font-size: 16px;
}


/* hero end */

/* about start */
    .about{
        padding:0;
        padding-top: 20px;
    }
    .about-card{
    margin-top: 80px;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2,1fr);
    }

    .about-text h1{
    font-size: 32px;
    }
    .about-card .card h3{
        font-size: 40px;

    }
    .about-card .card h6{
        margin-bottom: 40px;
    }



/* about end */


/* choose start */
.choose{
    padding:0;
}
.choose-text h2{
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 16px;
    padding-top: 40px;

}

.choose-card{
    display: grid;
    grid-template-rows: repeat(5,1fr);
    grid-template-columns: repeat(1,1fr);
    gap: 30px;
    padding-bottom: 20px;
}

.c-card1, .c-card2, .c-card3, .c-card4, .c-card5{
    padding:16px;
    width: 100%;
}

.choose-card .c-card1, .c-card5{
    grid-column: span 2;
    grid-row: span 1;
    width: 100%;
}
.c-card1 img{
    margin-top: 0px;
    margin-bottom:  0px;
}
/* choose end */


/* episode start */
.episode{
   padding: 20px 0;
}
.episode-text h2, .host h1{
    font-size: 32px;
}
.episode-text .episode-card{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    gap: 0px;
}

.episode-card .e-card{
    width: 100%;
}

.host-id{
    flex-direction: column;
    text-align: center;
}

/* episode end */
/* footer start */

.footer-div{
    padding: 20px 0;
}
}

/* responsive style end */