@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0 auto;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}
/* shared style start */

.btn{
    padding: 12px 16px;
    border-radius: 25px;
    /* color: #FFFFFF; */
    font-size: 16px;
    font-weight: 600;
    background-image: linear-gradient(14deg,rgba(247, 233, 63, 1) 0%, rgba(251, 9, 180, 1) 51%, rgba(145, 0, 248, 1) 100%);
    color: #FFFFFF;
    border: none;
    cursor: pointer;
}
/* shared style end */

/* individual style start */

/* header start */
.header, #about-section{
    background-color: #1A0B2E;
}
.nav{
    width: 87.5%;
    max-width: 1400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #FFFFFF;
    padding: 24px 0;
}
.nav-wave{
     background:-webkit-linear-gradient(75deg,rgba(247, 233, 63, 1) 0%, rgba(251, 9, 180, 1) 31%, rgba(145, 0, 248, 1) 80%);
     -webkit-background-clip: text ;
     -webkit-text-fill-color: transparent;

}
.nav .nav-text{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:32px;
    font-size: 16px;
    font-weight: 500;
    line-height: 120%;
}
.nav .ham{
    display: none;
}

/* header end */


/* hero start */
 #main{
     background-image: url(assets/hero-bg.png);
     background-size: cover;
     background-position: center;
 }
 .hero{
    padding: 100px 525px;
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    align-items: center; */
 }
/* .hero-image .img1{
    z-index: 1;
} */
.hero-image{
    margin-bottom: 2.5rem;
}
.hero-text{
    text-align: center;
    color: #FFFFFF;
}
.hero-text h1{
    font-size: 3.7rem;
    font-weight: 800;
    margin-bottom:0.5rem;
}

.hero-text p{
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 1.5rem;
}
.hero-button{
    display: flex;
    gap: 8px;
}
.hero-btn1{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 16px;
    border-radius: 25px;
    font-size: 16px;
    font-weight: 600;
    background-image: linear-gradient(14deg,rgba(247, 233, 63, 1) 0%, rgba(251, 9, 180, 1) 51%, rgba(145, 0, 248, 1) 100%);
    color: #FFFFFF;
    border: none;
    gap: 8px;
    cursor: pointer;
}

.hero-btn2{
     display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 16px;
    border-radius: 25px;
    font-size: 16px;
    font-weight: 600;
    gap: 8px;
    background-color: transparent;
    border: 1px solid #00FF88;
    color: #00FF88;
    cursor: pointer;

}
/* hero end */


/* about start  */
.about{
     width: 87.5%;
    max-width: 1400px;
    text-align: center;
    color: #FFFFFF;
    padding: 50px;
}

.about-text h1{
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 16px;

}
.about-text p{
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 80px;
}

.about-card{
    margin-top: 80px;
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: repeat(4,1fr);
}

.about-card .card h3{
    font-size: 48px;
    font-weight: 900;
    color: #00FF88;
    margin-bottom: 16px;
}
.about-card .card h6{
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 120px;

}

/* about end  */



/* individual style end */


/* responsive style start */

@media screen and (max-width:576px) {
   
   /* navbar start */
    .nav-logo{
        margin:0;
    }
    .nav .nav-text{
        display: none;
    }

    .btn{
        display: none;
    }
    .nav .ham{
    display: inline;
    margin: 0;
    }

    /* navbar end */

    /* hero start */

    /* #main{
     background-image: url(assets/hero-bg.png);
     background-size: absolute;
     background-position: center;
    } */
    .hero{
        padding: 40px 20px;
    }
    .img1{
        width: 200px;
    }

/* hero end */

/* about start */
    .about{
        padding: 0;
    }
    .about-card{
    margin-top: 80px;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2,1fr);
    }

    .about-text h1{
    font-size: 32px;
    }
    .about-card .card h3{
        font-size: 40px;

    }
    .about-card .card h6{
        margin-bottom: 40px;
    }



/* about end */





}
/* responsive style end */